.header-title {
  color: #CC342D;
}
a {
  margin-right: 10px;
}
label {
  margin-right: 5px;
}
input {
  margin-right: 15px;
}

button[type="submit"] {
  width: 100px;
}
.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid rgba(0,0,0,.1);
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
  border-radius: 3px;
}

.flash-success {
  background-color: #e6fff4;;
  color:#2c792d;
}

.flash-warning {
  background-color: #fef9c7fc;
  color: rgba(0,0,0,.65);
}

.flash-error {
  background-color: #ffcaca;
  color: #961717;
}
